body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background-color:rgb(230, 246, 245); 
}
h1{
  position:absolute;
  justify-content: center;
  align-items:  center;
  text-align: center;
  right: 15%;
  top: 65px;
  font-family: 'Poppins', sans-serif;
  color: rgb(142, 164, 244);
  font-size:5rem;
  letter-spacing:8px;
  text-decoration: underline;
}
h1 mark{
  color:rgb(190, 233, 235);
  background-color: inherit;
  text-decoration:overline;

}
.brand_img {
  position: fixed;
  left: 4%;
  top: 5%;
  z-index: 1;
  width: 10%;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  box-shadow: inset -2px -2px 4px rgb(174, 165, 218), -2px -1px 4px rgb(174, 165, 218),
    -2px 2px 4px rgb(174, 165, 218), 2px -2px 4px rgb(174, 165, 218), 3px 1px 4px rgb(174, 165, 218);
}

.brand_img:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

ul {
  list-style: none;
  margin-top: 75%;
}

.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: radial-gradient(circle, rgb(0, 0, 0), rgb(117, 57, 75));
  width: 20%;
  height: 100%;
  z-index: 0;
  opacity: .85;
}

li {
  padding-top: 16px;
  padding-bottom: 10px;
  margin: 20px 2px;
}

li a {
  width: 40px;
  color: rgb(219, 215, 212);
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.2em;
  font-family: 'Nunito', sans-serif;
}

li a:hover {
  font-size: 1.2em;
  border-radius: 5px;
  color: rgb(159, 113, 144);
  text-decoration: underline;
  transition: 250ms;
}

li a:active {
  color: rgb(203, 128, 188);
}


.brand a{
  font-size: 1.5em;
  font-weight: bolder;
  font-family:'Poppins', sans-serif;
}
.brand a:hover{
    font-size: 1.5em;
}

.dropdown {
  display: none;
  position: relative;
  right: 15px;
  margin-top: 2px;
}

.nav ul li:hover ul {
  display: block;
  animation: a2 350ms linear;
}

@keyframes a2 {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

li a:before {
  content: '+ ';
}

li a:only-child:before {
  content: ' ';
}

.mid {
  margin-top: 150px;
  display: inline-flex;
  position: relative;
  left: 5%;
  width: 90%;
  z-index: -1;
  color: white;
  word-spacing: 4px;
  font-family: 'Roboto', sans-serif;
}

.card1 {
  color: rgb(75, 77, 65);
  font-weight: bold;
  background-color: rgb(241, 225, 201);
  width: 85%;
  border-radius: 15px;
  border: 2px solid red;
  padding-top: 4.5%;
  padding-left: 300px;
  margin-right: 20px;
  text-align: left;
  animation: a1 4.5s linear;
}
@keyframes a1 {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.card1 h2{
  font-family: 'Concert One', serif;
}

.card2 {
  width: 80%;
}
@keyframes a3 {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.card2 img {
  padding: 0px;
  width: 100%;
  border-radius: 15px;
  animation: a3 4.5s linear;
}

.name h1 {
  font-family: 'Concert One', serif;
  color:rgb(241, 223, 204);
  position:relative;
  left: 9%;
  letter-spacing: 5px;
  font-size: 4.5em;
  z-index: 0;
}


.icons {
  display:grid;
  grid-template-columns: 20fr 20fr 20fr 20fr;
  position: relative;
  left: 24%;
  margin-top: 200px;
  color: white;
}

.comp {
  margin-top: 10px;
  padding-right: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  color: rgb(212, 202, 107);
}
.comp img{
  width:100%;
  height: 75%;
 background-image:linear-gradient(to bottom , white 55%  , rgb(92, 242, 137) 30%);
}

.comp:hover{
transform: scale(1.05);
transition: 450ms;
}

.connect {
  fill: rgb(172, 235, 200);
  padding-right: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  color: rgb(200, 200, 191);
}
.connect img{
  width: 100%;
  height: 75%;
}

.connect:hover{
  transform: scale(1.05);
  transition: 450ms;
}

.explore {
  margin-top: 20px;
  padding-right: 45px;
  fill: rgb(79, 84, 221);
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
   color: rgb(127, 246, 246);
}

.explore img{
  height: 75%;
  width: 100%;
  background-color: rgb(245, 230, 177);
}
.explore:hover{
transform: scale(1.05);
transition: 450ms;
}

@media screen and (max-width:950px) {
  .nav {
    display: block;
    position: static;
    margin-top: 20%;
    width: 100%;
    border-radius: 14px;
    align-items: center;
  }
  h1{
    position:absolute;
    top: 40px;
    left: 25%;
    right: 25%;
   font-size:3em;
    font-family: 'Poppins', sans-serif;
    color: rgb(142, 164, 244);
    letter-spacing:8px;
    text-decoration: underline;
  }
  h1 mark{
    color:rgb(190, 233, 235);
    background-color: inherit;
    text-decoration:underline;
  }


  .brand_img {
    display: none;
  }

  ul {
    position: relative;
    left: 1.8%;
    display: grid;
    grid-template-columns:25fr 20fr 20fr 15fr ;
    margin-top: 0px;
    padding: 0px;
    justify-content: center;
  }

  li a {
    font-size: 1em;
    margin: 14px 10px;
   padding-right: 6px;
  }

  li a:hover {
    transform: scale(1.03);
    transform-origin: center;
  }

  .dropdown a {
    margin: .5px;
  }

  .nav ul li:hover ul {
    display: block;
    animation: a2 450ms linear;
  }

  @keyframes a2 {
    0% {
      transform: rotateX(-50%);
      opacity: 0;
    }

    100% {
      transform: rotateX(0%);
      opacity: 1;
    }
  }

  .mid {
    display: block;
  }

  .card1 {
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid red;
    width: 95%;
    padding: 10px;
    text-align: center;
  }

  .card2 {
    margin: 90px 150px;
    width: 60%;
  }

  .card2 img {
    padding: 0px;
    width: 100%;
    border-radius: 15px;
  }

  .name h1 {
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
    display: block;
    position: static;
    animation: none;
  }

  .icons {
    display: block
  }

  .comp {
    fill: rgb(221, 220, 231);
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: rgb(56, 192, 224);
    border-radius: 10px;
    width: 50%;
    padding: 5px;
    border: 3px solid rgb(123, 115, 226);
    text-align: center;
  }

  .connect {
    margin-top: 40px;
    margin-left: 20px;
    fill: rgb(177, 231, 137);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: rgb(200, 200, 191);
    border-radius: 10px;
    width: 50%;
    padding: 5px;
    border: 3px solid rgb(12, 126, 35);
    text-align: center;
  }

  .explore {
    width: 50%;
    padding: 5px;
    margin-top: 40px;
    margin-left: 20px;
    fill: rgb(141, 110, 246);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: rgb(49, 175, 151);
    border-radius: 10px;
    border: 3px solid red;
    text-align: center;
  }
}
