body {
  background-color: rgb(29, 33, 31);
  overflow-x: hidden;
}

.brand_img {
  position: fixed;
  left: 4%;
  top: 5%;
  z-index: 1;
  width: 10%;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  box-shadow: inset -2px -2px 4px rgb(131, 123, 224), -2px -1px 4px rgb(131, 123, 224),
    -2px 2px 4px rgb(131, 123, 224), 2px -2px 4px rgb(131, 123, 224), 3px 1px 4px rgb(131, 123, 224);
}

.brand_img:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

ul {
  list-style: none;
  margin-top: 75%;
}

.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 2px;
  background-image: radial-gradient(circle, rgb(0, 0, 0), rgb(117, 57, 75));
  width: 20%;
  height: 100%;
  z-index: 0;
}

li {
  padding-top: 16px;
  padding-bottom: 10px;
  margin: 20px 2px;
}

li a {
  width: 40px;
  color: rgb(219, 215, 212);
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.1em;
  font-family: 'Nunito', sans-serif;
}

li a:hover {
  font-size: 1.2em;
  border-radius: 5px;
  color: rgb(159, 113, 144);
  text-decoration: underline;
  transition: 250ms;
}

li a:active {
  color: rgb(203, 128, 188);
}

.brand {
  font-size: 1.2em;
  font-family:
}

.dropdown  {
  display: none;
  position: relative;
  right:15px;
  margin-top: 2px;
}

.nav ul li:hover ul {
  display: block;
  animation: a2 450ms linear;
}
@keyframes a2{
  0%{
    transform:translateX(-50%);
   opacity: 0;
}

100%{
  transform:translateX(0%);
 opacity: 1;
}
}

li a:before {
  content: '+ ';
}

li a:only-child:before {
  content: ' ';
}

.mid {
  margin-top: 150px;
  display: inline-flex;
  position: relative;
  left: 5%;
  width: 90%;
  z-index: -1;
  color: white;
  word-spacing: 4px;
  font-family: 'Roboto', sans-serif;
}

.card1 {
  width: 85%;
  border-radius: 15px;
  border: 2px solid red;
  padding-top:4.5%;
  padding-left: 300px;
  margin-right: 20px;
  text-align: left;
}

.card2 {
  width: 80%;
  height: 48%;
  border-radius: 15px;
  border: 2px solid red;
}

.card2 img {
  padding: 0px;
  width: 100%;
  border-radius: 15px;
}

.name h1{
  color: rgb(29, 33, 31);
 font-family: sans-serif;
 text-shadow: 3px 4px 3px rgb(67, 73, 59),
    4px -2px 3px rgb(67, 73, 59) , -3px -2px 3px rgb(67, 73, 59) , -4px 3px 3px rgb(67, 73, 59) ;
 position:relative;
 left: 35%;
letter-spacing: 4px;
font-size: 4.5em;
z-index: -1;
animation: a1 6.5s linear;
}
@keyframes a1{
  0%{
    transform: translateX(-100%);
  }
  20%{
    transform:translateX(-25%);
  }
  100%{
    transform:translateX(0%);
  }
}
@media screen and (max-width:950px) {
  .nav {
    display: block;
    position: static;
    bottom: 0px;
    width: 100%;
    border-radius: 14px;
    align-items: center;
  }

  .brand_img {
    display: none;
  }

  ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 0px;
    padding: 0px;
    justify-content: center;
  }

  li a {
    display: flex;
    font-size: 1em;
    margin: 14px 10px;
  }

  li a:hover {
    font-size: 1.1em;
  }

  .dropdown a {
    margin: .5px;
  }
  .nav ul li:hover ul {
    display: block;
    animation: a2 450ms linear;
  }
  @keyframes a2{
    0%{
      transform:rotateX(-50%);
     opacity: 0;
  }

  100%{
    transform:rotateX(0%);
   opacity: 1;
  }
  }

  .mid {
    display: block;
  }

  .card1 {
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid red;
    width: 95%;
    padding: 10px;
    text-align: center;
  }

  .card2 {
    margin: 90px 150px;
    width: 60%;
    height: 50% border-radius: 15px;
    border: 2px solid red;
  }

  .card2 img {
    padding: 0px;
    width: 100%;
    border-radius: 15px;
  }
  .name h1{
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
    display: block;
    position: static;
    animation: none;
  }
}
